In [4]:
import pandas as pd
import statsmodels.api as pi
import plotly.express as plt
import os
import scipy.stats as sts

In [2]:
sales_df = pd.read_csv('./Resources/property_sales.csv')
sales_df.head()

,OBJECTID,CRV,Sale_Date,InRTOStudy,Neighborhoood,Ward,PropType,Address,HouseNumber,HouseNum,...,SuffixDire,Grantee,Grantor,Adjusted_S,Gross_Sale,SaleDate,Downpayment,X,Y,PIN_TEXT
0,10001,204924.0,2014-02-26T00:00:00.000Z,No,VICTORY,4,Residential,4526 Xerxes AVE N,4526,NaN,...,N,David Anderson,Janet L Rollmann,155103,159900.0,2014-02-26T00:00:00.000Z,15990.0,516655.530538,190166.659712,1111821330128
1,10002,233969.0,2014-06-25T00:00:00.000Z,Yes,VICTORY,4,Residential,4566 Xerxes AVE N,4566,NaN,...,N,Darryl L Bell,Deborah J Boardley,162000,169500.0,2014-06-25T00:00:00.000Z,4448.0,516643.782209,190666.537525,1111821330138
2,10003,233969.0,2014-06-25T00:00:00.000Z,Yes,VICTORY,4,Residential,4566 Xerxes AVE N,4566,NaN,...,N,Darryl L Bell,Tracy Everson,162000,169500.0,2014-06-25T00:00:00.000Z,4448.0,516643.782209,190666.537525,1111821330138
3,10004,71027.0,2014-07-18T00:00:00.000Z,Yes,VICTORY,4,Residential,4574 Xerxes AVE N,4574,NaN,...,N,Krista M Torning,Karen L Holland,162500,162500.0,2014-07-18T00:00:00.000Z,NaN,516641.329215,190769.809892,1111821330140
4,10005,272354.0,2014-10-10T00:00:00.000Z,Yes,LINDEN HILLS,13,Residential,4600 Xerxes AVE S,4600,NaN,...,S,Robert W Nichols III,Brian D Renbarger,277900,284900.0,2014-10-10T00:00:00.000Z,2000.0,516598.558439,146839.634287,1702824210001

This normal test tells us that the p-value is less than .5, therefore we reject the null hypothesis. It doesnt fit the normal curve.

In [5]:
print(sts.normaltest(sales_df["Adjusted_S"]))

NormaltestResult(statistic=31321.23602722869, pvalue=0.0)

In [10]:
sample_1 = sales_df.sample(n=2400)
sample_2 = sales_df.sample(n=2400)
print(sts.normaltest(sample_1["Adjusted_S"]))
print(sts.normaltest(sample_2["Adjusted_S"]))

NormaltestResult(statistic=6218.095414881613, pvalue=0.0)
NormaltestResult(statistic=5002.823941023571, pvalue=0.0)

In these samples, the p-values are both less than .5, they are both not normal. Below if we take a sample that is smaller than 2400, we can see that the p-value changes, thus the normal distribution was impacted and we cant reject the null hypothesis because of weak evidence.

In [17]:
sample_3 = sales_df.sample(n=600)
print(sts.normaltest(sample_3["Adjusted_S"]))

NormaltestResult(statistic=958.5912805890005, pvalue=6.991143552748459e-209)